# MCU MOVIE DATABASE

In [1]:
import sqlite3
import pandas as pd

In [2]:
# Connect to SQLite database (creates 'MCU.db' if it doesn't exist)
Movie_database = sqlite3.connect("MCU.db")

# Create a cursor object
cursor = Movie_database.cursor()

# Create the 'MCU_Movies' table
cursor.execute("""
CREATE TABLE IF NOT EXISTS MCU_Movies (
    movie_id INTEGER PRIMARY KEY,
    title TEXT NOT NULL,
    year INTEGER,
    score REAL
);
""")

# Commit the transaction
Movie_database.commit()

print("Database and table created successfully.")

Database and table created successfully.

In [3]:
# Insert data into the MCU_Movies table
# Connect to the database
Movie_database = sqlite3.connect("MCU.db")
cursor = Movie_database.cursor()

# Movie data to be inserted
movie_data = [
    (1001, 'Iron Man', 2008, 7.9),
    (1002, 'The Incredible Hulk', 2008, 6.7),
    (1003, 'Iron Man 2', 2010, 7.0),
    (1004, 'Thor', 2011, 7.0),
    (1005, 'Captain America: The First Avenger', 2011, 6.9),
    (1006, 'The Avengers', 2012, 8.0),
    (1007, 'Iron Man 3', 2013, 7.2),
    (1008, 'Thor: The Dark World', 2013, 6.9),
    (1009, 'Captain America: The Winter Soldier', 2014, 7.7),
    (1010, 'Guardians of the Galaxy', 2014, 8.0),
    (1011, 'Avengers: Age of Ultron', 2015, 7.3),
    (1012, 'Ant-Man', 2015, 7.3),
    (1013, 'Captain America: Civil War', 2016, 7.8),
    (1014, 'Doctor Strange', 2016, 7.5),
    (1015, 'Guardians of the Galaxy Vol. 2', 2017, 7.6),
    (1016, 'Spider-Man: Homecoming', 2017, 7.4),
    (1017, 'Thor: Ragnarok', 2017, 7.9),
    (1018, 'Black Panther', 2018, 7.3),
    (1019, 'Avengers: Infinity War', 2018, 8.4),
    (1020, 'Ant-Man and The Wasp', 2018, 7.1),
    (1021, 'Captain Marvel', 2019, 6.9),
    (1022, 'Avengers: Endgame', 2019, 8.4)
]

# Insert data with 'INSERT OR IGNORE'incase of duplicates
cursor.executemany("INSERT OR IGNORE INTO MCU_Movies (movie_id, title, year, score) VALUES (?, ?, ?, ?);", movie_data)

# Commit the changes so they are saved
Movie_database.commit()

print("Movie data inserted (ignoring duplicates).")

Movie data inserted (ignoring duplicates).

In [4]:
# Load into DataFrame
df = pd.read_sql_query("SELECT score FROM MCU_Movies", Movie_database)

# Show DataFrame
print(df)

    score
0     7.9
1     6.7
2     7.0
3     7.0
4     6.9
5     8.0
6     7.2
7     6.9
8     7.7
9     8.0
10    7.3
11    7.3
12    7.8
13    7.5
14    7.6
15    7.4
16    7.9
17    7.3
18    8.4
19    7.1
20    6.9
21    8.4

In [5]:
# Load into DataFrame
df = pd.read_sql_query("SELECT year, title FROM MCU_Movies ORDER BY year", Movie_database)

# Show DataFrame
print(df)

    year                                title
0   2008                             Iron Man
1   2008                  The Incredible Hulk
2   2010                           Iron Man 2
3   2011                                 Thor
4   2011   Captain America: The First Avenger
5   2012                         The Avengers
6   2013                           Iron Man 3
7   2013                 Thor: The Dark World
8   2014  Captain America: The Winter Soldier
9   2014              Guardians of the Galaxy
10  2015              Avengers: Age of Ultron
11  2015                              Ant-Man
12  2016           Captain America: Civil War
13  2016                       Doctor Strange
14  2017       Guardians of the Galaxy Vol. 2
15  2017               Spider-Man: Homecoming
16  2017                       Thor: Ragnarok
17  2018                        Black Panther
18  2018               Avengers: Infinity War
19  2018                 Ant-Man and The Wasp
20  2019                       Captain Marvel
21  2019                    Avengers: Endgame

In [6]:
# Load into DataFrame
df = pd.read_sql_query("SELECT title, year FROM MCU_Movies ORDER BY score DESC", Movie_database)

# Show DataFrame
print(df)

                                  title  year
0                Avengers: Infinity War  2018
1                     Avengers: Endgame  2019
2                          The Avengers  2012
3               Guardians of the Galaxy  2014
4                              Iron Man  2008
5                        Thor: Ragnarok  2017
6            Captain America: Civil War  2016
7   Captain America: The Winter Soldier  2014
8        Guardians of the Galaxy Vol. 2  2017
9                        Doctor Strange  2016
10               Spider-Man: Homecoming  2017
11              Avengers: Age of Ultron  2015
12                              Ant-Man  2015
13                        Black Panther  2018
14                           Iron Man 3  2013
15                 Ant-Man and The Wasp  2018
16                           Iron Man 2  2010
17                                 Thor  2011
18   Captain America: The First Avenger  2011
19                 Thor: The Dark World  2013
20                       Captain Marvel  2019
21                  The Incredible Hulk  2008

In [7]:
# Load the entire MCU_Movies table into a DataFrame
df = pd.read_sql_query("SELECT * FROM MCU_Movies;", Movie_database)

# Show the DataFrame
print(df)

    movie_id                                title  year  score
0       1001                             Iron Man  2008    7.9
1       1002                  The Incredible Hulk  2008    6.7
2       1003                           Iron Man 2  2010    7.0
3       1004                                 Thor  2011    7.0
4       1005   Captain America: The First Avenger  2011    6.9
5       1006                         The Avengers  2012    8.0
6       1007                           Iron Man 3  2013    7.2
7       1008                 Thor: The Dark World  2013    6.9
8       1009  Captain America: The Winter Soldier  2014    7.7
9       1010              Guardians of the Galaxy  2014    8.0
10      1011              Avengers: Age of Ultron  2015    7.3
11      1012                              Ant-Man  2015    7.3
12      1013           Captain America: Civil War  2016    7.8
13      1014                       Doctor Strange  2016    7.5
14      1015       Guardians of the Galaxy Vol. 2  2017    7.6
15      1016               Spider-Man: Homecoming  2017    7.4
16      1017                       Thor: Ragnarok  2017    7.9
17      1018                        Black Panther  2018    7.3
18      1019               Avengers: Infinity War  2018    8.4
19      1020                 Ant-Man and The Wasp  2018    7.1
20      1021                       Captain Marvel  2019    6.9
21      1022                    Avengers: Endgame  2019    8.4

In [8]:
# Enable foreign key constraints
cursor.execute("PRAGMA foreign_keys = ON;")

# Create the MCU_Actors table
cursor.execute("""
CREATE TABLE IF NOT EXISTS MCU_Actors (
    actor_id INTEGER PRIMARY KEY,
    actor_name TEXT NOT NULL,
    movie_id INTEGER,
    FOREIGN KEY (movie_id) REFERENCES MCU_Movies(movie_id)
);
""")

# Commit changes to the database
Movie_database.commit()

print("MCU_Actors table successfully created.")

MCU_Actors table successfully created.

In [9]:
# Enable foreign key constraints (again, always do this for foreign keys in SQLite)
cursor.execute("PRAGMA foreign_keys = ON;")

# List of Actors data
actor_data = [
    (1, 'Robert Downey Jr.', 1001), 
    (2, 'Chris Evans', 1005),
    (3, 'Mark Ruffalo', 1006),
    (4, 'Chris Hemsworth', 1004), 
    (5, 'Scarlett Johansson', 1006), 
    (6, 'Jeremy Renner', 1006),
    (7, 'Tom Hiddleston', 1004),
    (8, 'Clark Gregg', 1001),
    (9, 'Paul Rudd', 1012),
    (10, 'Benedict Cumberbatch', 1014)
]

# Insert data (use INSERT OR IGNORE to prevent duplicate errors if rerun)
cursor.executemany("""
INSERT OR IGNORE INTO MCU_Actors (actor_id, actor_name, movie_id)
VALUES (?, ?, ?);
""", actor_data)

# Commit and close
Movie_database.commit()

print("Actor data inserted into MCU_Actors successfully.")

Actor data inserted into MCU_Actors successfully.

In [10]:
# Load the entire MCU_Movies table into a DataFrame
df = pd.read_sql_query("SELECT * FROM MCU_Actors;", Movie_database)

# Show the DataFrame
print(df)

   actor_id            actor_name  movie_id
0         1     Robert Downey Jr.      1001
1         2           Chris Evans      1005
2         3          Mark Ruffalo      1006
3         4       Chris Hemsworth      1004
4         5    Scarlett Johansson      1006
5         6         Jeremy Renner      1006
6         7        Tom Hiddleston      1004
7         8           Clark Gregg      1001
8         9             Paul Rudd      1012
9        10  Benedict Cumberbatch      1014

In [11]:
# Visualize our schema
# Show all table creation SQL
cursor.execute("SELECT name, sql FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()

for name, sql in tables:
    print(f"\n-- {name} --\n{sql}")

-- MCU_Movies --
CREATE TABLE MCU_Movies (
    movie_id INTEGER PRIMARY KEY,
    title TEXT NOT NULL,
    year INTEGER,
    score REAL
)

-- MCU_Actors --
CREATE TABLE MCU_Actors (
    actor_id INTEGER PRIMARY KEY,
    actor_name TEXT NOT NULL,
    movie_id INTEGER,
    FOREIGN KEY (movie_id) REFERENCES MCU_Movies(movie_id)
)

In [12]:
# Define and execute the JOIN query
query = """
SELECT 
    MCU_Movies.movie_id,
    MCU_Movies.title,
    MCU_Movies.year,
    MCU_Movies.score,
    MCU_Actors.actor_name
FROM 
    MCU_Movies 
JOIN 
    MCU_Actors 
ON 
    MCU_Movies.movie_id = MCU_Actors.movie_id;
"""

# Load the results into a DataFrame
df = pd.read_sql_query(query, Movie_database)

# Display the DataFrame
print(df)

# Close the connection
Movie_database.close()

   movie_id                               title  year  score  \
0      1001                            Iron Man  2008    7.9
1      1005  Captain America: The First Avenger  2011    6.9
2      1006                        The Avengers  2012    8.0
3      1004                                Thor  2011    7.0
4      1006                        The Avengers  2012    8.0
5      1006                        The Avengers  2012    8.0
6      1004                                Thor  2011    7.0
7      1001                            Iron Man  2008    7.9
8      1012                             Ant-Man  2015    7.3
9      1014                      Doctor Strange  2016    7.5

             actor_name
0     Robert Downey Jr.
1           Chris Evans
2          Mark Ruffalo
3       Chris Hemsworth
4    Scarlett Johansson
5         Jeremy Renner
6        Tom Hiddleston
7           Clark Gregg
8             Paul Rudd
9  Benedict Cumberbatch